<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPasswordSuccessMessage"></activity>
        <activity android:name=".SetNewPassword" />
        <activity android:name=".MakeSelection" />
        <activity android:name=".ForgorPassword" />
        <activity android:name=".VerifyOTP" />
        <activity android:name=".SignupThird" />
        <activity android:name=".SignupSecond" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".RetailerStartupScreen" />
        <activity android:name=".AllCategories" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>